
{%- macro Infobox(Player_Name, Nationality, Full_Name, Born, Died, age, Relations,career_span, Batting_Style, Bowling_Style, Height, Jersey_Number,Gender,Playing_Role,Teams,testdebutdate,testdebutyear,testdebutagainst,odidebutdate,odidebutyear,odidebutagainst,T20Idebutdate,T20Idebutyear,T20Idebutagainst,lasttestdate,lasttestyear,lasttestagainst,lastididate,lastodiyear,lastodiagainst,lastT20Idate,lastT20Iyear,lastT20Iagainst) -%}
    {{'{{Infobox Cricketer'}}
	|name    		= {{Player_Name}}
	|country 		= {{Nationality}}
	|fullname  	  = {{Full_Name}}
    {%- if Born != 'nan' %}
	|birth_place        =  {{Born}}
	{%- endif %}
    {#{%- if age != 'nan' %}
	|వయస్సు       =  {{age }}
	{%- endif %}#}
    {%- if Died != 'nan' %}
	|death_place   =  {{Died }}
	{%- endif %}
    {#{%- if career_span != "nan" %}
	|క్రియాశీల సంవత్సరాలు       =  {{career_span }}
	{%- endif %}#}
    {%- if Batting_Style != 'nan' %}
	|batting     =  {{Batting_Style }}
	{%- endif %}
    {%- if Bowling_Style != 'nan' %}
	|bowling       =  {{Bowling_Style }}
	{%- endif %}
    {%- if Height != 'nan' %}
	|height     =  {{Height}}
	{%- endif %}
    {%- if Playing_Role != "nan" %}
	|role     =  {{Playing_Role}}
	{%- endif %}
	{%- if Relations != 'nan' %}
	|family	   =  {{Relations}}
	{%- endif %}
    {#{%- if Jersey_Number != -1 %}
	|జెర్సీ సంఖ్య	   =  {{Jersey_Number}}
	{%- endif %}
    {%- if Teams != 'nan' %}
	|జట్లు     =  {{Teams}}
	{%- endif %}#}
	{%- if testdebutdate != "nan" or odidebutdate != "nan" or T20Idebutdate != "nan" %}
	| international      = true
	{%- endif %}
    {%- if testdebutdate != 'nan' %}
	|testdebutdate	   =  {{testdebutdate}}
	|testdebutyear	   =  {{testdebutyear}}
	|testdebutagainst	   =  {{testdebutagainst}}
	{%- endif %}
    {%- if odidebutdate != 'nan' %}
	|odidebutdate	   =  {{odidebutdate}}
	|odidebutyear	   =  {{odidebutyear}}
	|odidebutagainst	   =  {{odidebutagainst}}
	{%- endif %}
    {%- if T20Idebutdate != 'nan' %}
	|T20Idebutdate	   =  {{T20Idebutdate}}
	|T20Idebutyear	   =  {{T20Idebutyear}}
	|T20Idebutagainst	   =  {{T20Idebutagainst}}
	{%- endif %}
    {#{%- if T20_Matches_debut != 'nan' %}
	|టీ20 లో తొలి మ్యాచ్	   =  {{T20_Matches_debut}}
	{%- endif %}
    {%- if List_A_Matches_debut != 'nan' %}
	|లిస్ట్ ఏ కెరీర్ లో తొలి మ్యాచ్	   =  {{List_A_Matches_debut}}
	{%- endif %}
    {%- if FC_Matches_debut != 'nan' %}
	|ఫస్ట్ క్లాస్ కెరీర్‌లో తొలి మ్యాచ్	   =  {{FC_Matches_debut}}
	{%- endif %}#}
    {%- if lasttestdate != 'nan' %}
	|lasttestdate	   =  {{lasttestdate}}
	|lasttestyear	   =  {{lasttestyear}}
	|lasttestagainst	   =  {{lasttestagainst}}
	{%- endif %}
    {%- if lastodidate != 'nan' %}
	|lastodidate	   =  {{lastodidate}}
	|lastodiyear	   =  {{lastodiyear}}
	|lastodiagainst	   =  {{lastodiagainst}}
	{%- endif %}
    {%- if lastT20Idate != 'nan' %}
	|lastT20Idate	   =  {{lastT20Idate}}
	|lastT20Iyear	   =  {{lastT20Iyear}}
	|lastT20Iagainst	   =  {{lastT20Iagainst}}
	{%- endif %}
    {#{%- if T20_Matches_last_appearance != 'nan' %}
	|టీ20 లో చివరి మ్యాచ్	   =  {{T20_Matches_last_appearance}}
	{%- endif %}
    {%- if List_A_Matches_last_appearance != 'nan' %}
	|లిస్ట్ ఏ కెరీర్ లో చివరి మ్యాచ్	   =  {{List_A_Matches_last_appearance}}
	{%- endif %}
    {%- if FC_Matches_last_appearance != 'nan' %}
	|ఫస్ట్ క్లాస్ కెరీర్‌లో చివరి మ్యాచ్	   =  {{FC_Matches_last_appearance}}
	{%- endif %}#}
    {{'}}\n'}}
{%- endmacro -%}

{%- macro Overview(Player_Name,matches_ref,Gender,Full_Name,Born,age,Nationality,career_span,Playing_Role,Batting_Style,Bowling_Style,Teams,Major_trophies,Records,AWARDS) -%}
    ==పరిచయం==
	{% if Gender == "Male" %}
		{%- set gender_pronoun_1 = "అతడు" -%}
		{%- set gender_pronoun_2 = "అతడి" -%}
		{%- set gender_pronoun_3 = "ఆడాడు" -%}
		{%- set gender_pronoun_4 = "పాల్గొన్నాడు" -%}
		{%- set gender_pronoun_5 = "గెలుచుకున్నాడు" -%}

	{%- else -%}
		{%- set gender_pronoun_1 = "ఆమె" -%}
		{%- set gender_pronoun_2 = "ఆమె" -%}
		{%- set gender_pronoun_3 = "ఆడింది" -%}
		{%- set gender_pronoun_4 = "పాల్గొనింది" -%}
		{%- set gender_pronoun_5 = "గెలుచుకుంది" -%}
	{%- endif -%}
	{{- Full_Name -}}
	{{- get_matches_ref(matches_ref,Player_Name) -}}
    {% if Born != 'nan' and age != 'nan' -%}
	{%-set line1 =  ['(జననం : ',Born,', వయసు: ',age,')'] | join('')-%}
        {{[line1] | random}}  
    {%- elif Born != 'nan' -%}
    {%-set line2 =  ['(జననం : ',Born,')'] | join('')-%}
        {{[span_line2] | random}}
    {%- elif age != 'nan' -%}
    {%-set line3 =  ['(వయసు: ',age,')'] | join('')-%}
        {{[line3] | random}}
    {%- endif -%}
	{%- set country1=[' ',Nationality,' దేశానికి చెందిన క్రికెటర్.'] | join('')-%}
	{{[country1] | random}}
    {%- if career_span != 'nan' -%}
        {%- set span_line1=[' ',gender_pronoun_1,' కెరీర్ ',career_span, ' సంవత్సరాలలో విస్తరించింది. '] | join('')-%}
		{%- set span_line2=[' ',career_span,' సంవత్సరాలలో ',gender_pronoun_2,' కెరీర్ విస్తరించింది. '] | join('')-%}
		{{[span_line1,span_line2] | random}}
	{%- endif -%}
    {%- if Playing_Role != 'nan' -%}
		{%- set span_role1=[gender_pronoun_1,' ',Playing_Role,'. '] | join('')-%}
		{%- set span_role2=[Playing_Role,' ',gender_pronoun_2,' పాత్ర. '] | join('')-%}
        {{[span_role1,span_role2] | random}}
	{%- endif -%}
    {%- if Batting_Style != 'nan' -%}
    	{%-set line4 =  [gender_pronoun_2,' బాటింగ్ శైలి : ',Batting_Style,'. '] | join('')-%}
        {{[line4] | random}}
	{%- endif -%}
    {%- if Bowling_Style != 'nan' -%}
    {%-set line4 =  [gender_pronoun_2,' బౌలింగ్ శైలి : ',Bowling_Style,'. '] | join('')-%}
        {{[line4] | random}}
	{%- endif -%}
    {%- if Teams != 'nan' -%}
    	{%-set line4 =  [gender_pronoun_1,' '] | join('')-%}
        {{[line4] | random}}

			{%-set line5 =  [Teams| join(', ')] | join('')-%}
			{{[line5] | random}}
		{%-set line6 =  [' మొదలైన జట్టులలో ',gender_pronoun_3,'.'] | join('')-%}
        {{[line6] | random}}
	{%- endif -%}
    {%- if Major_trophies != 'nan' -%}
		{%- set line1 = [' ',gender_pronoun_1,' ',Major_trophies.keys()|join(', '),' వంటి ఎన్నో ప్రసిద్ధి చెందిన ట్రోఫీలలో ', gender_pronoun_4, '. ' ] | join('') -%} 
    {{[line1] | random}}

	{%- endif -%}
    {%- if Records != 'nan' -%}
		{%- if Records|length > 1 -%}
			{%- set line1 = [gender_pronoun_2,' పేరుకు ',Records[0],',',Records[1],' వంటి రికార్డులు ఉన్నాయి. '] | join('') -%}
			{{[line1] | random}}
		{%- else -%}
			{%- set line1 = [gender_pronoun_2,' పేరుకు ',Records[0],' వంటి రికార్డులు ఉన్నాయి. '] | join('') -%}
			{{[line1] | random}}
		{%- endif -%}
	{%- endif -%}
    {%- if AWARDS != 'nan' -%}
		{%- if AWARDS|length > 1 -%}
			{{ AWARDS[0]}},{{ AWARDS[1]}} వంటి ఎన్నో అవార్డులు మరియు పురస్కారాలు {{gender_pronoun_5}}.
		{%- else -%}
			{{ AWARDS[0]}} వంటి ఎన్నో అవార్డులు మరియు పురస్కారాలు {{gender_pronoun_5}}.
		{%- endif -%}
	{%- endif -%}
{%- endmacro -%}

{# Function Calls are Below #}

{{- Infobox(Player_Name, Nationality, Full_Name, Born, Died, age, Relations,career_span, Batting_Style, Bowling_Style, Height, Jersey_Number,Gender,Playing_Role,Teams,testdebutdate,testdebutyear,testdebutagainst,odidebutdate,odidebutyear,odidebutagainst,T20Idebutdate,T20Idebutyear,T20Idebutagainst,lasttestdate,lasttestyear,lasttestagainst,lastididate,lastodiyear,lastodiagainst,lastT20Idate,lastT20Iyear,lastT20Iagainst) -}}

{{- Overview(Player_Name,matches_ref,Gender,Full_Name,Born,age,Nationality,career_span,Playing_Role,Batting_Style,Bowling_Style,Teams,Major_trophies,Records,AWARDS) -}}



