{%- if Gender == "Male" -%}
    {% set gender_pronoun_1 = "అతడు" %}
    {% set gender_pronoun_2 = "అతడి" %}
    {% set gender_pronoun_3 = "అతని" %}
    {% set has_played = "ఆడాడు" %}
    {% set born = "జన్మించాడు" %}
    {% set has_done = "చేశాడు" %}
    {% set die = "మరణించాడు" %}
    {% set accomplish = "సాధించాడు" %}


{%- else -%}
    {% set gender_pronoun_1 = "ఆమె" %}
    {% set gender_pronoun_2 = "ఆమె" %}
    {% set gender_pronoun_3 = "ఆమె" %}
    {% set has_played = "ఆడింది" %}
    {% set born = "జన్మించింది " %}
    {% set has_done = "చేసింది" %}
    {% set die = "మరణించింది" %}
    {% set accomplish = "సాధించింది" %}
{%- endif -%}

{% macro personal_life(Player_Name , Birth_Place , Birth_Date, Education ,Relations , Death_Date , deathplace )%}
{%- if Birth_Place != 'nan'%}
{% set Birth_Place = list_str(Birth_Place) %}
{% endif %}

{%- if Birth_Date != 'nan'%}
{% set Birth_Date = list_str(Birth_Date) %}
{% endif %}
==వ్యక్తిగత జీవితం== 
    {{'\n'}}
    {%- if Birth_Place != 'nan' and Birth_Date != 'nan'%}
        {%- set line1 = [Player_Name, Birth_Place , " లో " ,Birth_Date," న ",born,"."] | join('')-%}
        {%- set line2 = [Player_Name ,Birth_Date," న ",Birth_Place, " లో " ,born,"."] | join('')-%}
        {{[line1 , line2] | random}}

    {%- elif Birth_Date != 'nan' and Birth_Place == 'nan'%}
        {%-set line1 =  [Player_Name ,Birth_Date," న ",born,"."] | join('')-%}
        {{[line1] | random}}

    {%- elif Birth_Date == 'nan' and Birth_Place != 'nan'%}
        {%-set line1 =  [Player_Name ,Birth_Place, " లో ",born,"."] | join('')-%}
        {{[line1] | random}}
    {%- endif -%}

    {%- if Education != "nan"-%}
        {%-set line1 = [gender_pronoun_1,Education, "లో విద్యను పూర్తి ",has_done,"."] | join('')-%}
        {%-set line2 = [gender_pronoun_1," తన విద్యను",Education,"లో పూర్తి ",has_done,"."] | join('')-%}
        {{[line1 ,line2] | random}}
    {%- endif -%}

    {%- if Relations != "nan" -%}
        {%-set line1 = [gender_pronoun_2,"బంధువులు :"] | join('')-%}
        {{[line1] | random}}
            {%- for pair in Relations -%}
                {{pair[0]+ ' - '}}
                {{pair[1]+ '\n'}}
            {%- endfor -%}
    {%-endif-%}
{{'\n'}}
    {%-if Death_Date != 'nan'-%}
        {%-set line1 = [gender_pronoun_1,Death_Date,"న",Death_Place,"లో",die] | join('')-%}
        {{[line1] | random}}
    {%- endif -%}
{%endmacro%}
{{'\n'}}

{%macro statistical_analysis(HOME_Mat , AWAY_Mat ,NEUTRAL_Mat ,HOME_Avg , HOME_Runs,HOME_Wkts,AWAY_Avg , AWAY_Runs,AWAY_Wkts,NEUTRAL_Avg , NEUTRAL_Runs,NEUTRAL_Wkts)%}

==గణాంక విశ్లేషణ==
    {{'\n'}}

    {%-if HOME_Mat != -1 -%}
    {%-set line1 = [gender_pronoun_3," కెరీర్ మొత్తంలో ",Player_Name," తన సొంత దేశంలో ",HOME_Mat," ఆటలను ",has_played,"."] | join('') -%} 
    {%-set line2 = [Player_Name," తన కెరీర్ లో","తన సొంత దేశంలో ",HOME_Mat," ఆటలను ",has_played,"."] | join('') -%} 
    {{[line1 , line2] | random}}
    {%- endif-%}
    {%- if AWAY_Mat != -1-%}
    {%-set line1 = [" ప్రత్యర్థి జట్టు దేశంలో ",AWAY_Mat," ఆటలను ",has_played,"."] | join('')-%}
    {%-set line2 = [" మొత్తం ",AWAY_Mat," ఆటలను ప్రత్యర్థి దేశం జట్టులో ",has_played,"."] | join('')-%}
    {{[line1,line2] | random}}
    {%- endif -%}

    {%- if NEUTRAL_Mat != -1-%}
    {%-set line1 = [" మరియు ఆటలలో ఆడుతున్న రెండు జట్లకు తటస్థంగా ఉన్న దేశాలలో ",NEUTRAL_Mat," ఆటలను ",has_played,"."] | joim('')-%}
    {%-set line1 = [" మరియు తటస్థంగా ఆడుతున్న రెండు దేశాల జట్లలో ",NEUTRAL_Mat," ఆటలను ",has_played,"."] | joim('')-%}
    {{[line1,line2] | random}}
    {%- endif -%}
{{'\n'}}
    {%-if HOME_Avg != -1 -%}
    {%-set line1 = ["స్వదేశంలో ఆడిన ఆటలలో, ",gender_pronoun_2," సగటు బ్యాటింగ్ స్కోరు ",HOME_Avg,","] | join('') -%}
    {%-set line2 = ["తన దేశంలో ఆడిన ఆటలలో ",gender_pronoun_2," బ్యాటింగ్ సగటు స్కోరు ",HOME_Avg,","] | join('') -%} 
    {{[line1,line2] | random}}
    {%- endif-%}

    {%-if HOME_Runs != -1 -%}
    {%-set line1 = [" మొత్తంగ ",HOME_Runs," పరుగులు ",has_done] | join('') -%} 
    {{[line1] | random}}
    {%- endif-%}

    {%-if HOME_Wkts != -1 -%}
    {%-set line1 = [" మరియు బౌలింగ్ లో",HOME_Wkts," వికెట్లు ",accomplish,"."] | join('') -%} 
    {{[line1] | random}}
    {%- endif-%}
{{'\n'}}
    {%-if AWAY_Avg != -1 -%}
    {%-set line1 = ["ప్రత్యర్థి జట్టు దేశంలో ఆడిన ఆటలలో,",gender_pronoun_2," సగటు బ్యాటింగ్ స్కోరు ",AWAY_Avg,","] | join('') -%} 
    {{[line1,line2] | random}}
    {%- endif-%}

    {%-if AWAY_Runs != -1 -%}
    {%-set line1 = [" మొత్తంగ ",AWAY_Runs," పరుగులు ",has_done] | join('') -%} 
    {{[line1] | random}}
    {%- endif-%}

    {%-if AWAY_Wkts != -1 -%}
    {%-set line1 = [" మరియు బౌలింగ్ లో",AWAY_Wkts," వికెట్లు ",accomplish,"."] | join('') -%} 
    {{[line1] | random}}
    {%- endif-%}
{{'\n'}}

    {%-if NEUTRAL_Avg != -1 -%}
    {%-set line1 = ["తటస్థ మైదానంలో ఆడిన ఆటలలో, ",gender_pronoun_2," సగటు బ్యాటింగ్ స్కోరు ",NEUTRAL_Avg,","] | join('') -%} 
    {{[line1] | random}}
    {%- endif-%}

    {%-if NEUTRAL_Runs != -1 -%}
    {%-set line1 = [" మొత్తంగ ",NEUTRAL_Runs ," పరుగులు ",has_done] | join('') -%} 
    {{[line1] | random}}
    {%- endif-%}

    {%-if NEUTRAL_Wkts != -1 -%}
    {%-set line1 = [" మరియు బౌలింగ్ లో ",NEUTRAL_Wkts," వికెట్లు ",accomplish,"."] | join('') -%} 
    {{[line1] | random}}
    {%- endif-%}
{%- endmacro -%}
{{'\n'}}
{%-macro stat_table(HOME_Span,AWAY_Span,NEUTRAL_Span,HOME_Mat , AWAY_Mat , NEUTRAL_Mat,HOME_Inns , AWAY_Inns , NEUTRAL_Inns,HOME_Runs , AWAY_Runs , NEUTRAL_Runs,HOME_NO , AWAY_NO , NEUTRAL_NO,HOME_HS,AWAY_HS,NEUTRAL_HS,HOME_Avg,AWAY_Avg,NEUTRAL_Avg,HOME_SR,AWAY_SR,NEUTRAL_SR,HOME_100s,AWAY_100s,NEUTRAL_100s,HOME_50s,AWAY_50s,NEUTRAL_50s,HOME_Wkts,AWAY_Wkts,NEUTRAL_Wkts,HOME_BF,AWAY_BF,NEUTRAL_BF,HOME_0s,AWAY_0s,NEUTRAL_0s,HOME_4s,AWAY_4s,NEUTRAL_4s,HOME_6s,AWAY_6s,NEUTRAL_6s)-%}
{{'\n'}}
{| class="wikitable sortable" style="width: 85%; margin-left: auto; margin-right: auto; border: none; text-align: center;"
|+ మైదానాల స్థానం ఆధారంగా గణాంక విశ్లేషణ
|-
! శీర్షిక !! స్వదేశీ మైదానాలు !! ప్రత్యర్థి దేశ మైదానాలు !! తటస్థ మైదానాలు

{%-if HOME_Span == 'nan' and AWAY_Span == 'nan' and NEUTRAL_Span == 'nan'-%}
{%-else-%}
{{'\n'}}
|-
| వ్యవధి || {{HOME_Span}} || {{AWAY_Span }} || {{NEUTRAL_Span }}
{%-endif-%}
{{'\n'}}
|-
{{ check("మ్యాచ్‌లు",HOME_Mat , AWAY_Mat , NEUTRAL_Mat) }}
|-
{{ check("ఇన్నింగ్స్",HOME_Inns , AWAY_Inns , NEUTRAL_Inns) }}
|-
{{ check("పరుగులు",HOME_Runs , AWAY_Runs , NEUTRAL_Runs ) }}
|-
{{ check("నాట్-అవుట్లు",HOME_NO , AWAY_NO , NEUTRAL_NO) }}
|-
{{ check("అత్యధిక స్కోరు",HOME_HS,AWAY_HS,NEUTRAL_HS) }}
|-
{{ check("సగటు బ్యాటింగ్ స్కోరు",HOME_Avg,AWAY_Avg,NEUTRAL_Avg) }}
|-
{{ check("స్ట్రైక్ రేట్",HOME_SR,AWAY_SR,NEUTRAL_SR) }}
|-
{{ check("శతాబ్దాలు",HOME_100s,AWAY_100s,NEUTRAL_100s) }}
|-
{{ check("అర్ధ శతాబ్దాలు",HOME_50s,AWAY_50s,NEUTRAL_50s) }}
|-
{{ check("వికెట్లు",HOME_Wkts,AWAY_Wkts,NEUTRAL_Wkts) }}
|-
{{ check("ఎదురుకున్న బంతులు",HOME_BF,AWAY_BF,NEUTRAL_BF) }}
|-
{{ check("0 లు",HOME_0s,AWAY_0s,NEUTRAL_0s) }}
|-
{{ check("4 లు",HOME_4s,AWAY_4s,NEUTRAL_4s) }}
|-
{{ check("6 లు",HOME_6s,AWAY_6s,NEUTRAL_6s) }}

|}

{# 
<table>

<tr>
    <th> శీర్షిక </th>
    <th> స్వదేశీ మైదానాలు </th>
    <th> ప్రత్యర్థి దేశ మైదానాలు </th>
    <th> తటస్థ మైదానాలు </th>
</tr>


<tr>
    <td> వ్యవధి </td>
    <td> {{Home_Span}}</td>
    <td> {{AWAY_Span }}</td>
    <td>  {{NEUTRAL_Span }}</td>
</tr>
{%-endif-%}

    {{ check("మ్యాచ్‌లు",Home_Mat , AWAY_Mat , NEUTRAL_Mat) }}
    {{ check("ఇన్నింగ్స్",Home_Inns , AWAY_Inns , NEUTRAL_Inns) }}
    {{ check("పరుగులు",Home_Runs , AWAY_Runs , NEUTRAL_Runs ) }}
    {{ check("నాట్-అవుట్లు",Home_NO , AWAY_NO , NEUTRAL_NO) }}
    {{ check("అత్యధిక స్కోరు",Home_HS,AWAY_HS,NEUTRAL_HS) }}
    {{ check("సగటు బ్యాటింగ్ స్కోరు",Home_Avg,AWAY_Avg,NEUTRAL_Avg) }}
    {{ check("స్ట్రైక్ రేట్",Home_SR,AWAY_SR,NEUTRAL_SR) }}
    {{ check("శతాబ్దాలు",Home_100s,AWAY_100s,NEUTRAL_100s) }}
    {{ check("అర్ధ శతాబ్దాలు",Home_50s,AWAY_50s,NEUTRAL_50s) }}
    {{ check("వికెట్లు",Home_Wkts,AWAY_Wkts,NEUTRAL_Wkts) }}
    {{ check("ఎదురుకున్న బంతులు",Home_BF,AWAY_BF,NEUTRAL_BF) }}
    {{ check("0 లు",Home_0s,AWAY_0s,NEUTRAL_0s) }}
    {{ check("4 లు",Home_4s,AWAY_4s,NEUTRAL_4s) }}
    {{ check("6 లు",Home_6s,AWAY_6s,NEUTRAL_6s) }}


</table>
#}

{%endmacro%}

{{- personal_life(Player_Name , Birth_Place , Birth_Date, Education ,Relations , Death_Date , deathplace) -}}
{{- statistical_analysis(HOME_Mat , AWAY_Mat ,NEUTRAL_Mat ,HOME_Avg , HOME_Runs,HOME_Wkts,AWAY_Avg , AWAY_Runs,AWAY_Wkts,NEUTRAL_Avg , NEUTRAL_Runs,NEUTRAL_Wkts) -}}
{{- stat_table(HOME_Span,AWAY_Span,NEUTRAL_Span,HOME_Mat , AWAY_Mat , NEUTRAL_Mat,HOME_Inns , AWAY_Inns , NEUTRAL_Inns,HOME_Runs , AWAY_Runs , NEUTRAL_Runs,HOME_NO , AWAY_NO , NEUTRAL_NO,HOME_HS,AWAY_HS,NEUTRAL_HS,HOME_Avg,AWAY_Avg,NEUTRAL_Avg,HOME_SR,AWAY_SR,NEUTRAL_SR,HOME_100s,AWAY_100s,NEUTRAL_100s,HOME_50s,AWAY_50s,NEUTRAL_50s,HOME_Wkts,AWAY_Wkts,NEUTRAL_Wkts,HOME_BF,AWAY_BF,NEUTRAL_BF,HOME_0s,AWAY_0s,NEUTRAL_0s,HOME_4s,AWAY_4s,NEUTRAL_4s,HOME_6s,AWAY_6s,NEUTRAL_6s) -}}
